* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root,
body {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}

input {
  width: 100%;
}

#main-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.title {
  font-weight: bold;
}

.book-list-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

#selected-book {
  height: 50%;
  border: 1px solid black;
}

#details-header {
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

#details-buttons-container {
  padding: 0.5rem 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
}

#update-form {
  padding: 0.5rem;
}

#create-new-book {
  height: 50%;
  padding: 0.5rem 0rem;
  border: 1px solid black;
}

#create-new-book-header {
  padding-bottom: 0.5rem;
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: center;
}

#create-form-container {
  padding: 0.5rem 0.5rem 0rem;
}

#add-book-button {
  width: 100%;
  margin-top: 1rem;
}

#no-book-selected {
  padding: 0.5rem;
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: center;
}
